<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <form action="/update/<%=item.id%>?_method=put" method="POST">
            <input type="text" name="name"><p><%=item.name%></p>
            <input type="text"name="img"><img src="<%=item.img%>" alt="">
            <input type="text" name="level"><p><%=item.level%></p>
            <button>update</button>
        </form>
    </section>
</body>
</html>