<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%item.forEach(item=>{%>
    <section>
            <p><%=item.level%></p>
            <button type='submit'><a href="/details/<%=item.id%>">details</a></button>
    </section>
    <%})%>
</body>
</html>